<p>matches works! (*￣▽￣)b</p>

<div>
  <div class="submit-form">
    <form>
      <div class="form-group">
        <button (click)="getMatches()" class="btn btn-success" [disabled]="pressButton==1"> {{getButtonText()}} </button>
      </div>
      <div>
        <button (click)="clearMatches()" [disabled]="!matches" style="background: brown; border-radius: 5px">Очистить матчи</button>
      </div>
    </form>
    <div *ngIf="pressButton==1" class="form-text text-danger">Пошла работа</div>
    <div *ngIf="matches"> Всего доступно матчей: {{matches}}</div>
  </div>
  <table border="3" style="border-collapse: separate" *ngIf="matches">
    <thead>
    <tr align="center" style="background: darkgrey">
      <th colspan="2">Действующие матчи</th>
    </tr>
    </thead>
    <tbody *ngFor="let match of matchesArr">
    <tr style="border: 0; border-collapse: unset">
      <td colspan="2"><p></td>
    </tr>
    <tr>
      <td colspan="2"><a href="{{match.matchesUrl}}" target="_blank">{{match.matchesUrl}}</a></td>
    </tr>
    <tr>
      <td align="center">{{match.leftTeam}}</td>
      <td align="center">{{match.rightTeam}}</td>
    </tr>
    </tbody>
  </table>
</div>
