<div>
  <button
    pButton type="button"
    class="p-button-raised"
    (click)="getCurrentQueueSize()"
    label="Получить текущий размер очереди"
  ></button>
  <label>
    {{"Количество необработанных матчей в очереди " +
  (this.actualResponse.currentNotProcessedMaps ?
    this.actualResponse.currentNotProcessedMaps :
    '0')
    }}
  </label>
  <button
    pButton type="button"
    style="margin-left: 5px"
    class="p-button-danger"
    (click)="createQueue()"
    label="Создать очередь"
    [disabled]="loading"
  ></button>
  <button
    pButton type="button"
    style="margin-left: 5px"
    class="p-button-success"
    (click)="debug()"
    label="Дебаг расчета"
  ></button>
</div>
