<div>
  <p-toolbar>
    <label>
      Страница ошибок
    </label>

    <p-checkbox label="Показывать архив " [binary]="true" (onChange)="this.showArchive = !this.showArchive; this.search()">
    </p-checkbox>

    <div>
      <button
        pButton type="button"
        class="p-button-raised p-button-rounded"
        (click)="search()"
        label="Обновить"
      ></button>
      <button *ngIf="this.selectedRows.length > 0"
              [disabled]="this.selectedRows.length == 0"
              pButton type="button"
              class="p-button-success p-button-rounded"
              (click)="setErrorProcessed()"
              [label]="this.showArchive?
              'Отметить выделенные позиции как неверифицированные' :
              'Отметить выделенные позиции как верифицированные'"
      ></button>
    </div>
  </p-toolbar>

  <button pButton type="button" class="p-button-raised p-button-rounded" label="Выделить всё" (click)="selectAll()"
          style="background: darkcyan"
  ></button>

  <button pButton type="button" class="p-button-raised p-button-rounded" label="Отменить выделение" (click)="deselect()"
          style="background: darkcyan"
  ></button>

  <p-table [columns]="cols" [value]="results" selectionMode="multiple" [(selection)]="selectedRows">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols" style="text-align: center">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of cols">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>

