<div>
  <p-toolbar>
    <label>
      Страница ошибок
    </label>

    <div>
      <button
        pButton type="button"
        class="p-button-raised p-button-rounded"
        (click)="getAllErrors()"
        label="Забрать ошибки"
      ></button>

      <button
        pButton type="button"
        class="p-button-raised p-button-rounded"
        (click)="clearErrors()"
        label="Обновить"
      ></button>
    </div>
  </p-toolbar>
  <p-table [value]="results">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
      <tr>
        <td *ngFor="let col of cols">
          {{car[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

