<ng-container>
  <button
    pButton type="button"
    class="p-button-raised p-button-rounded"
    (click)="setResultsLinkProcessed(false)"
    label="Сделать все линки необработанными"
  ></button>

  <button
    pButton type="button"
    class="p-button-raised p-button-rounded"
    (click)="setResultsLinkProcessed(true)"
    label="Сделать все линки обработанными"
  ></button>
  &nbsp;
  <button
    pButton type="button"
    class="p-button-raised p-button-rounded"
    routerLink="/errors"
    style="background-color: brown">
    Таблица ошибок
  </button>
  <ng-container>
    <button
      pButton type="button"
      class="p-button-success p-button-rounded"
      (click)="getFilesWithDistribution()"
      label="Получить файлы с распределениями">
    </button>
  </ng-container>
</ng-container>
