<div>
  <p-toolbar>

    <label>
      Страница матчесов
    </label>

    <label>
      {{"Количество доступных игр для парсинга: " + (this.availableCount ? this.availableCount : '0') + "/" + this.getTotal()}}
      <p-progressBar [value]="getProgress()"></p-progressBar>
    </label>



    <button
      pButton type="button"
      class="p-button-raised p-button-rounded"
      (click)="getAvailableCount()"
      label="Обновить"
    ></button>

    <div>
      <label>Размер пачки парсинга: </label>
      <input
        class="form-control"
        id="batch"
        style="max-width: 200px"
        title="Размер пачки"
        required
        [(ngModel)]="statsRequest.batchSize"
        name="description"
      />
    </div>

  </p-toolbar>
  <button
    pButton type="button"
    class="p-button-raised p-button-rounded"
    (click)="writePlayers(); workflowIsRun = true"
    [disabled]="!requestValidate() || writeButtonIsAvailable"
    label="Запарсить всё доступное"
  ></button>

  <button
    pButton type="button"
    class="p-button-raised p-button-rounded"
    (click)="stopWorkflow()"
    [disabled]="workflowIsRun == false || !statsRequest.batchSize"
    label="Остановить парсинг"
  ></button>
  &nbsp;


  <button pButton type="button" class="p-button-raised p-button-rounded" label="Выделить всё" (click)="selectAll()"
          style="background: darkcyan; left: 25%"
  ></button>

  <button pButton type="button" class="p-button-raised p-button-rounded" label="Отменить выделение" (click)="deselect()"
          style="background: darkcyan; left: 25%"
  ></button>

  <label *ngIf="writeButtonIsAvailable" class="form-text text-danger" style="display: inline-block">Идёт парсинг</label>

  <p-table [columns]="cols" [value]="results" selectionMode="multiple" [(selection)]="selectedRows" (selectionChange)="recalcutaleSummaryRow()"
           [scrollable]="true" scrollHeight="600px" [virtualScroll]="true" [virtualScrollItemSize]="40">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of cols">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>


  <p-toolbar *ngIf="this.selectedRows.length > 0">
    <label>
      {{
      "По выделенным позициям: на " + this.summaryRow.batchSize + " позиций затрачено " + (this.summaryRow.batchTime/1000).toFixed(0) + " секунд времени"
      + "     На одну позицию приходится " + this.summaryRowDivide.toFixed(2) + " секунд затрат"
      }}
    </label>
  </p-toolbar>
</div>
