<p-tabView>
  <p-tabPanel header="Тест">
    <button
      pButton type="button"
      class="p-button-raised"
      label="Одиночный расчет с фиксированным процентом"
      pTooltip="Здесь заполняется процент: сколько пойдет на тестовый датасет.
                Остальное останется на датасет расчета"
    ></button>
  </p-tabPanel>
  <p-tabPanel header="Улучшатор">
    <button
      pButton type="button"
      style="margin-left: 5px"
      class="p-button-danger"
      label="Ничего не делать"
      pTooltip="Будет сделано ничего"
    ></button>
  </p-tabPanel>
</p-tabView>
