<p-tabView xmlns="http://www.w3.org/1999/html">
  <p-tabPanel header="Инактив процентом">
    <div class="form-row">
      <button pButton type="button" class="p-button-raised"
              [disabled]="(request.testDatasetCount && request.testDatasetPercent) || (!request.testDatasetPercent && !request.testDatasetCount) || !requestValidating"
              (click)="improvementInactivePercent()"
              label="Множественный расчет с инактив процентом: "
              pTooltip="Здесь заполняется процент: сколько пойдет на тестовый датасет.
                Остальное останется на инактив датасет и датасет расчета. Конфиг остается неизменным"
      ></button>
      <label style="margin-left: 5px; margin-top: 5px">
        %:
      </label>
      <input class="form-control" style="max-width: 200px; margin-left: 20px"
             title="Количество страниц" required [(ngModel)]="testDataPercent" (ngModelChange)="validatePercent()"
      />
      <label style="margin-left: 5px; margin-top: 5px">
        Кол-во:
      </label>
      <input class="form-control" style="max-width: 200px; margin-left: 20px"
             title="Количество страниц" required [(ngModel)]="testDataCount" (ngModelChange)="validateCount()"
      />
      <label *ngIf="!requestValidating" style="margin-left: 20px">
        Запрос составлен неверно / Или выбрано много матчей
      </label>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Простой расчет">
    <div class="form-row">
      <button pButton type="button" class="p-button-raised"
              [disabled]="(request.testDatasetCount && request.testDatasetPercent) || (!request.testDatasetPercent && !request.testDatasetCount) || !requestValidating"
              (click)="improvementNoConfig()"
              label="Одиночный расчет с фиксированным процентом, укажите процент: "
              pTooltip="Здесь заполняется процент: сколько пойдет на тестовый датасет.
                Остальное останется на датасет расчета. Конфиг остается неизменным"
      ></button>
      <label style="margin-left: 5px; margin-top: 5px">
        %:
      </label>
      <input class="form-control" style="max-width: 200px; margin-left: 20px"
             title="Количество страниц" required [(ngModel)]="testDataPercent" (ngModelChange)="validatePercent()"
      />
      <label style="margin-left: 5px; margin-top: 5px">
        Кол-во:
      </label>
      <input class="form-control" style="max-width: 200px; margin-left: 20px"
             title="Количество страниц" required [(ngModel)]="testDataCount" (ngModelChange)="validateCount()"
      />
      <label *ngIf="!requestValidating" style="margin-left: 20px">
        Запрос составлен неверно / Или выбрано много матчей
      </label>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Шафлинг">
    <div class="form-row">
      <button pButton type="button" class="p-button-raised"
              [disabled]="(request.testDatasetCount && request.testDatasetPercent) || (!request.testDatasetPercent && !request.testDatasetCount) || !requestValidating"
              (click)="improvementShuffling()"
              label="Бесконечный расчет с рандомным конфигом, укажите процент: "
              pTooltip="Здесь заполняется процент: сколько пойдет на тестовый датасет.
                Остальное останется на датасет расчета. Конфиг всегда изменяется"
      ></button>
      <label style="margin-left: 5px; margin-top: 5px">
        %:
      </label>
      <input class="form-control" style="max-width: 200px; margin-left: 20px"
             title="Количество страниц" required [(ngModel)]="testDataPercent" (ngModelChange)="validatePercent()"
      />
      <label style="margin-left: 5px; margin-top: 5px">
        Кол-во:
      </label>
      <input class="form-control" style="max-width: 200px; margin-left: 20px"
             title="Количество страниц" required [(ngModel)]="testDataCount" (ngModelChange)="validateCount()"
      />
      <label *ngIf="!requestValidating" style="margin-left: 20px">
        Запрос составлен неверно / Или выбрано много матчей
      </label>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Консенсус">
    <div class="form-row">
      <button pButton type="button" class="p-button-raised"
              [disabled]="(request.testDatasetCount && request.testDatasetPercent) || (!request.testDatasetPercent && !request.testDatasetCount) || !requestValidating"
              (click)="improvementConsensus()"
              label="Единичный расчет с консенсусом, укажите актив процент: "
              pTooltip="Здесь заполняется процент: сколько пойдет на тестовый датасет.
                Остальное останется на датасет расчета. Конфиг остается неизменным."
      ></button>
      <label *ngIf="false" style="margin-left: 5px; margin-top: 5px">
        %:
      </label>
      <input *ngIf="false" class="form-control" style="max-width: 200px; margin-left: 20px"
             title="Количество страниц" required [(ngModel)]="testDataPercent" (ngModelChange)="validatePercent()"
      />
      <label style="margin-left: 5px; margin-top: 5px">
        Кол-во:
      </label>
      <input class="form-control" style="max-width: 200px; margin-left: 20px"
             title="Количество страниц" required [(ngModel)]="testDataCount" (ngModelChange)="validateCount()"
      />
      <label *ngIf="!requestValidating" style="margin-left: 20px">
        Запрос составлен неверно / Или выбрано много матчей
      </label>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Правка конфига">
    <div class="form-row">
      <button pButton type="button" class="p-button-raised"
              [disabled]="(request.testDatasetCount && request.testDatasetPercent) || (!request.testDatasetPercent && !request.testDatasetCount) || !requestValidating || configChanged"
              (click)="improvementWithConfig()" style="margin-left: 5px"
              label="Одиночный расчет с фиксированным процентом, укажите процент: "
              pTooltip="Здесь заполняется процент: сколько пойдет на тестовый датасет.
                Остальное останется на датасет расчета"
      ></button>
      <label style="margin-left: 5px; margin-top: 5px">
        %:
      </label>
      <input class="form-control" style="max-width: 200px; margin-left: 20px"
             title="Количество страниц" required [(ngModel)]="testDataPercent" (ngModelChange)="validatePercent()"
      />
      <label style="margin-left: 5px; margin-top: 5px">
        Кол-во:
      </label>
      <input class="form-control" style="max-width: 200px; margin-left: 20px"
             title="Количество страниц" required [(ngModel)]="testDataCount" (ngModelChange)="validateCount()"
      />
      <label *ngIf="!requestValidating" style="margin-left: 20px">
        Запрос составлен неверно / Или выбрано много матчей
      </label>
    </div>

    <button pButton type="button" class="p-button-raised" (click)="getConfig()"
            label="Получить конфиг" pTooltip="Получаем конфиг и можем изменять его"
    ></button>

    <button pButton type="button" class="p-button-success" style="margin-left: 20px"
            (click)="saveConfig()" [disabled]="!this.configChanged"
            label="Сохранить конфиг"
            pTooltip="Сохранить конфиг для передачи на бэк. Без сохранения не получится отправить запрос"
    ></button>

    <p-dataView *ngIf="config" #dataView [value]="configList" [paginator]="false">
      <p-header>
        Состояние
      </p-header>
      <ng-template let-item pTemplate="listItem">
        <div class="form-row">
          <label style="width: 250px">{{item.name}}</label>
          <input
            [(ngModel)]="item.value"
            (ngModelChange)="this.configChanged = true"
          />
        </div>
      </ng-template>
    </p-dataView>
  </p-tabPanel>
  <p-tabPanel header="Паттерн для конфига">
    <div class="form-row">
      <button pButton type="button" class="p-button-raised"
              [disabled]="(request.testDatasetCount && request.testDatasetPercent) || (!request.testDatasetPercent && !request.testDatasetCount)
              || !requestValidating || configChanged || !validatePattern()"
              (click)="improvementWithConfigAndPattern()" style="margin-left: 5px"
              label="Одиночный расчет с фиксированным процентом, укажите процент: "
              pTooltip="Здесь заполняется процент: сколько пойдет на тестовый датасет.
                Остальное останется на датасет расчета"
      ></button>
      <label style="margin-left: 5px; margin-top: 5px">
        %:
      </label>
      <input class="form-control" style="max-width: 200px; margin-left: 20px"
             title="Количество страниц" required [(ngModel)]="testDataPercent" (ngModelChange)="validatePercent()"
      />
      <label style="margin-left: 5px; margin-top: 5px">
        Кол-во:
      </label>
      <input class="form-control" style="max-width: 200px; margin-left: 20px"
             title="Количество страниц" required [(ngModel)]="testDataCount" (ngModelChange)="validateCount()"
      />
      <label *ngIf="!requestValidating" style="margin-left: 20px">
        Запрос составлен неверно / Или выбрано много матчей
      </label>
    </div>

    <button pButton type="button" class="p-button-raised"
            (click)="getConfig()" label="Получить конфиг" pTooltip="Получаем конфиг и можем изменять его"
    ></button>

    <button pButton type="button" class="p-button-success" style="margin-left: 20px"
            (click)="saveConfig()" [disabled]="!this.configChanged" label="Сохранить конфиг"
            pTooltip="Сохранить конфиг для передачи на бэк. Без сохранения не получится отправить запрос"
    ></button>

    <div *ngIf="patternName" style="margin-top: 50px">

      <p-button
        [label]="patternTemplateNumber.configPropertyName"
        [disabled]="true"
      ></p-button>

      <div class="form-row">
        <label style="margin-left: 20px; width: 200px">Начальное значение: </label>

        <input
          style="max-width: 200px; margin-left: 20px"
          required
          [(ngModel)]="patternTemplateNumber.lowLimit"
        />
      </div>

      <div class="form-row">
        <label style="margin-left: 20px; width: 200px">Конечное значение: </label>

        <input
          style="max-width: 200px; margin-left: 20px"
          required
          [(ngModel)]="patternTemplateNumber.highLimit"
        />
      </div>

      <div class="form-row">
        <label style="margin-left: 20px; width: 200px">Шаг: </label>

        <input
          style="max-width: 200px; margin-left: 20px"
          required
          [(ngModel)]="patternTemplateNumber.incrementStep"
        />
      </div>

      <p-button
        [label]="validatePattern()? 'Паттерн готов': 'Паттерн не готов'"
        [disabled]="true"
      ></p-button>

    </div>

    <p-dataView *ngIf="config" #dataView [value]="configList" [paginator]="false">
      <p-header>
        Состояние
      </p-header>
      <ng-template let-item pTemplate="listItem">
        <div class="form-row">
          <label style="width: 250px">{{item.name}}</label>
          <input
            [disabled]="true"
            [(ngModel)]="item.value"
            (ngModelChange)="this.configChanged = true"
          />
          <p-button
            label="Выбрать"
            [disabled]="!isNumberValue(item.value)"
            (onClick)="onRowClick(item.name, item.value)"
          ></p-button>
        </div>
      </ng-template>
    </p-dataView>
  </p-tabPanel>
  <p-tabPanel header="Результаты улучшений">
    <button #getButton
            style="float: right"
            pButton type="button"
            label="Обновить"
            class="p-button-success"
            (click)="getImprovementResults()"
    ></button>
    <div class="form-row">
      <p-table [columns]="cols" [value]="results">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
            <th>
              {{configuration.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of cols">
              {{rowData[col.field]}}
            </td>
            <td>
              <select style="text-align: left">
                <option selected>Конфигурация</option>
                <option *ngFor="let config of rowData[configuration.field]">{{config}}</option>
              </select>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </p-tabPanel>
</p-tabView>
