<p>matches works! (*￣▽￣)b</p>

<div>

  <p-toolbar>
    <div>
      <button
        (click)="getMatchesCount()"
        pButton type="button"
        class="p-button-raised p-button-rounded"
        [disabled]="writeButtonIsAvailable"
        label="Распарсить Matches"
      ></button>

      <label *ngIf="writeButtonIsAvailable" class="form-text text-danger"
             style="display: inline-block; margin-left: 5px">
        Идёт парсинг</label>
    </div>

    <div>
      <button
        (click)="stopLoading()"
        pButton type="button"
        class="p-button-raised p-button-rounded"
        label="Остановить парсинг"
      ></button>

      <button
        (click)="clearMatches()"
        [disabled]="!matchesArr"
        pButton type="button"
        class="p-button-raised p-button-rounded"
        style="background: brown"
        label="Очистить матчи"
      ></button>
    </div>
  </p-toolbar>

  <div *ngIf="matches"> Всего доступно матчей: {{matches}}</div>
  <div *ngIf="fullTime"> Полное время парсинга: {{fullTime}}</div>
  <div>
    <app-progress #progressComponent [moduleName]="'matches'"></app-progress>
  </div>

  <p-table [columns]="cols" [value]="matchesArr" [scrollable]="true" scrollHeight="600px" [virtualScroll]="true"
           [virtualScrollItemSize]="200" style="table-layout: fixed">
    <ng-template pTemplate="header" let-columns >
      <tr>
        <th colspan="3" *ngFor="let col of columns">
          <label class="centerText">{{col.header}}</label>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-match>
      <tr>
        <td colspan="3" style="color: forestgreen">
          <label>Время парсинга: {{match.matchTime}}</label>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <a href="{{match.matchesUrl}}" target="_blank">{{match.matchesUrl}}</a>
        </td>
      </tr>
      <tr>
        <td style="width: 45%">
          <label class="centerText">{{match.leftTeam}}</label>
        </td>
        <td style="width: 10%; font-weight: bold">
          <label class="centerText">{{match.matchFormat}}</label>
        </td>
        <td style="width: 45%">
          <label class="centerText">{{match.rightTeam}}</label>
        </td>
      </tr>
      <tr>
        <td style="font-weight: bold">
          <label style="text-align: right; width: 100%">{{match.leftTeamOdds}}</label>
        </td>
        <td>
          <div class="centerText">
            <select style="text-align: center; width: 50%">
              <option selected>Карты</option>
              <option disabled *ngFor="let map of match.matchMapsNames">{{map}}</option>
            </select>
          </div>
        </td>
        <td style="font-weight: bold">
          <label style="text-align: left; width: 100%">{{match.rightTeamOdds}}</label>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
